@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}
::-webkit-scrollbar{
    width: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color:#f2f3eb;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
} 

.navbar-brand{
    margin-left: 50px;
    margin-right: 200px;
    align-items:flex-end;
    padding-top: 2px;
    .logo-text{
        margin: auto;
        font-size: 12px;
        color: #ECEDCF;
        font-weight: bold;
    }
}
.nav-item a {
    color:#ECEDCF;
    margin-right: 50px;
    margin-left: 20px;
}

.nav-active {
    background-color: #ecedcf9b;
    border-radius: 8px;
}
.navbar{
    background-color: #370000;
    display: flex;
    align-items:flex-end;
    padding: 2px 5px;
    padding-bottom: 1rem;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-left: 500px;
    gap: 15px;
}

.nav-link {
    font-size: 0.90rem;
    color:#ffffff;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: transparent;
        color: #f9ffcd;
}

.carrito {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    gap: 5px;
    margin-left: 10px;
    padding: 8px 20px;
}

.carrito i {
    margin-right: 5px;
}

.carrito:hover {
    border-radius: 90px;
    color: #ffffff;
}
/* Estilos para el botón del menú móvil */
.navbar-toggler {
    display: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    color:#f9ffcd;
    
}



.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transition: transform 0.3s;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

/* Media queries para responsive */

@media screen and  (max-width: 600px){
    .navbar{
    width:380px;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    
    .navbar-toggler {
        display: block;
    }
    .navbar-toggler-icon {
        display: block;
    }
    
    .collapse:not(.show) {
        display: none;
    }
    
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #370000;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        padding: 15px 0;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    
    .nav-link {
        width: 80%;
        text-align: center;
        margin: 8px 0;
    }
    
    .carrito {
        margin: 8px 0;
        display:contents;
        justify-content: center; /* Centra el contenido dentro del contenedor */
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
    }

    /* Si es necesario ajustar el icono dentro del carrito, puedes agregar: */
    .carrito i {
        margin-left: 10px;
    }
    .nav-link:hover {
        background-color: none;
        color:#f9ffcd;
    }
    
    .navbar-brand img {
        width: 60px;
        height: 50px;
    }
    
    .nav-link {
        width: 100%;
        font-size: 0.85rem;
        padding: 8px 15px;
    }
    
}

    
.banner {
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: rgb(132, 134, 111);
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/image/imgbanner.jpg");
    object-fit: contain;
}

    .banner-content {
        margin: 0;
        padding: 0;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        color: #ffffff;
        background-color: rgba(54, 2, 2, 0.297);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        
    .banner-content .banner-titulo {
        margin: 0;
        padding: 0;
        padding-bottom:200px;
        font-size: 50px;
        text-align: center;
        color: #ecfbfdc1;
        }
    }
    

.diseño{
    color:#370000;
    background-color: #ecedcf9b;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    border-radius: 0 30px;
    text-transform: uppercase;
    line-height: 1.0;
        }

h1{
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 20px;
    color:#871501;
}

h2{
    margin-left: 2rem;
   
}

p{
    margin-left: 0.90rem;
    margin-right: 0.90rem;
}

h3{
    font-size: 1.5rem;
}



.promo{ 
    width:100%;
    margin: auto;
    display: flex;
    padding-left: 0.2rem;
    padding-top: 1.5rem;
    padding-bottom: 0.50rem;
    text-align: center;
    background-color: #ECEDCF;
    color: #370000 ;
}
.promo-text{
    white-space: nowrap;
    font-size: 0.80rem;
    padding-top: 5rem;
    font-weight:bold;
    animation: 25s promo-text infinite;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
}  
@keyframes promo-text{
    from{
        transform: translateX(100);
    }
    to{
    transform: translateX(-100%);
    }
}
@media screen and (max-width: 480px) {
    .promo {
        display: none;
        padding: 0.90rem; /* Reduce el padding en pantallas pequeñas */
    }

    .promo-text {
        font-size: 0.9rem; /* Reduce el tamaño del texto en móviles */
    }
  }
/* cards*/
.titulo_nuevos_ingresos{
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    overflow-x: auto;
}

.card {
    width: 250px;
    height: 320px;
    flex: 0 0 auto; 
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ECEDCF;
    color: #871501;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.60rem;
    font-weight: bold;

}

.card-image {
    width: 100%;
    height: 115px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    object-fit: contain;
}

.card-title {
    color:#871501;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 0.50rem;
}

.card-text {
    color: #353434;
    font-size:12px;
    line-height:1.4;
    margin-bottom: 15px;
    margin-left: 15px;
}


.card-boton {
    background:#353434;
    color: #f2f3eb;
    margin-left: 80px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-transform: uppercase;

}

.card-boton:hover {
    background: #871501;
    color: #f9ffcd;
    
}
/* barra de scroll oculta */

.card-container::-webkit-scrollbar {
    display: none;
}

.card-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Media query para tablets */
 @media (max-width: 768px) { 
    .card-container  {
      flex-wrap: wrap;
      justify-content: center; /* Centra las cards */
      gap: 20px;
    }
    
    .card {
      flex: 0 1 calc(50% - 20px); /* 2 cards por fila */
    }
}
  /* Media query para móviles */
@media (max-width: 480px) {
    .card-container  {
      flex-direction: column;
      align-items: center; /* Centra verticalmente */
    }
    
    .card {
      flex: 0 1 100%;
      max-width: 300px; /* Ancho máximo para móvil */
      width: 100%; /* Ocupa todo el ancho disponible hasta max-width */
      margin-bottom: 20px; /* Espacio entre cards */
    }
  }
  /* inicio de cosultas */
  #inicio-consultas {
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right:2rem;
    text-align:left; }
    #inicio {
        max-width: 75%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold; }
        #inicio .card-body {
          padding-top: 2rem;
          padding-bottom: 5rem;
          min-width: 40px;
          display: inline-flex;
          border: none; 
        font-size: 16px;}
          #inicio .card-body .icon {
            padding-right: 5rem;
            text-decoration: none;
            font-size: 30px;
            width: 90px;
            height: 10px;
            line-height: 60px;
            text-align: center;
            color:#871501;
            justify-content: space-around; }
          #inicio .card-body .content {
         display: block;
            padding-left: -2rem;
            padding-right:2rem;
            text-align:left;
            padding-bottom: 1rem; }
            .p-consultas{
                font-size: 1rem;
                padding-left: 1rem;
            }
         


   /*AQUI WHATSAPP FLOTANTE*/
  .fa-whatsapp{
    font-size: 6em;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }



     /*AQUI COMIENZA SECCION COMENTARIOS*/

  .comentarios-form{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 5rem;

  }
  .comentarios-contenedor {
    background-color:#f9f9f9;
    width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1rem;
    
}

.titulo-comentarios {
    color: #871501;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.formulario-comentario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formulario-comentario input, 
.formulario-comentario textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.boton-enviar {
    background-color:#871501;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-enviar:hover {
    background-color: #871501;
}

.comentario {
    background-color: #f9f9f9;
    border-left: 4px solid #871501;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.comentario-autor {
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 5px;
}

.comentario-texto {
    color: #871501;
}

.mensaje-alerta {
    color: #2c03e2dc;
    margin-top: 10px;
    text-align: center;
}

.mensaje-error {
    color: #ff2e2e;
    margin-top: 10px;
    text-align: center;
}
   /*AQUI COMIENZA SECCION NOSOTROS*/
/* Contenedor principal con diseño de dos columnas */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 7rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

/* Columna de contenido */
.content-column {
    padding-right: 20px;
}

/* Columna de imágenes */
.image-column {
    position: relative;
}

/* Estilos para las imágenes */
.image-column img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    top: 50px;
}

/* Título */
h1 {
    color: #555;
    margin-bottom: 20px;
}

/* Secciones de contenido */
.content-section {
    margin-bottom: 30px;
}

/* Destacado */
.highlight {
    color: #871501;
}

/* Adaptabilidad para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .content-column {
        padding-right: 0;
    }
    
    .image-column img {
        position: static;
        margin-bottom: 20px;
    }
}
  /*AQUI COMIENZA SECCION BLOG*/

  .blog{
   width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
    text-align:justify;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.blog-titulo{
    font-size: 2rem;
    color:#871501;
    font-weight: 600;
}
.blog-subtitulo{
   font-size: 1.2rem;
   font-weight: 600;
   color: #111111;
   font-weight: 600;
}

.secciones{
    max-width: 800px;
    margin:auto;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:1rem;
    padding-bottom: 1rem;
 
}

.item{
    max-width: 800px;
    margin: 0 auto;
    text-align:justify;
    padding-bottom: 5rem;
  }

.item h2 {
    color:#1d1d1d;
    font-size: 1rem;
    margin-bottom: 10px;
    font: bold;
    
}

.item img {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    object-fit: contain;
        
}


.cta {
    background-color:#f9ffcd;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.cta h2 {
    color: #871501;
    font-size: 2rem;
    margin-bottom: 10px;
    padding-top: 1rem;
}
.cta p{
    color: #1d1d1d;
}

@media (max-width: 480px) {
    .blog{
        width: 380px;
    }
    .blog-titulo{
        padding-top: 5rem;
        text-align:center;
    }
}


/*AQUI COMIENZA SECCION PRODUCTOS*/
.titulo-producto{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/*AQUI COMIENZA SECCION PRODUCTO*/
.producto-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 25px; /* Espacio entre las cards */
    padding: 120px;
  }

  @media (max-width: 480px) {
    .producto-container{
        display:contents;
        align-items: center;
        grid-template-columns: repeat(1fr); /* 1 columnas iguales */
        gap: -25px; /* Espacio entre las cards */
      }
      .card{
        margin:auto;
      }
      
}

/*AQUI COMIENZA SECCION CONTACTO*/

#contacto{
    padding-top: 8rem;
}

.logo {
    text-align: center;
    font-size: 3em;
    scroll-margin: 7ex;
}

.logo span {
    font-size: 40px;
    color:#ECEDCF;
    background-color:#370000;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0 30px;
    text-transform: uppercase;
    padding-top: 1rem;

}
.form {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 110px;
    }
    
    .form:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../assets/image/sillon_mininube.avif") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
    }
    
    .contact-box {
   width: 700px;
   height: 300;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.221);
    }
    
    .left {
    background: url("../assets/image/sillon_minispon.avif") no-repeat center;
    background-size: cover;
    height: 50%;
    }
    
    .right {
    padding: 50px 70px;
    }
    
    .contactanos {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    }
    
    .contactanos:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    }
    
    .formulario {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    }
    
    .formulario:hover {
    background-color: rgba(228, 144, 144, 0.1);
    }
    
    textarea {
    min-height: 150px;
    }
    
    input[type=submit] {
    background-color:#ECEDCF;
    color: #370000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    }
    
    input[type=submit]:hover {
    background-color:#871501;
    color:#e8f1ff;
    }
    
    .formulario:focus {
    border:#871501;
    background-color: rgba(239, 239, 239, 0.619);
    }
    
    .form-buttons {
    max-width: 50%;
    margin: auto;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    list-style: none;
    justify-content: space-around;
    line-height: 50px;
    }
    
    .form-buttons a {
    color:#871501;
    }
    
    .contactanos:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    }
    
    .contacto-Map {
    max-width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    }

    
.form-buttons {
    max-width: 50%;
    margin: auto;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 15px;
    list-style: none;
    justify-content: space-around;
    line-height: 50px; }
    .form-buttons a {
      color: rgba(10, 7, 0, 0.87451); }
  
  .contacto-Map {
    max-width: 200%;
    height: 200%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem; }

/* @media contacto */
@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        width: 50%;
        height: 150px;
        margin: auto;
    }
    }
    @media screen and (max-width: 600px) {
    .contact-box {
        grid-template-columns: 1fr;
        width: 380px;

    }
    .left {
        width: 50%;
        height: 200px;
        margin: auto;
    }
    iframe{
        width: 250px;
    }
 
    }

  
/*AQUI COMIENZA EL FOOTER*/

/* NEWSLETTER-FOOTER */
.form-newsletter {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    }
    
    .form-newsletter h3 {
    font-size: 1.2rem;
    color:#fefefe;
    }
    
    .form-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 150%;
    margin-top: 10px;
    }
    
    .form-newsletter form input[type=submit]:hover {
    display: block;
    background-color:#871501;
    color: #f2f3eb;
    }
    
    .form-newsletter form input:first-child {
    margin-bottom: 30px;
    max-width: 300px;
    background-color:#f2f3eb;
    color:#370000;
    padding: 5px;
    width: 90%;
    }
    
    .form-newsletter form input:last-child {
    margin-bottom: 25px;
    background-color:#ECEDCF;
    color:#370000;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    }
    @media screen and (max-width: 600px){
    .form-newsletter{
            padding-left: 50px;
    }
    .form-newsletter h3 {
        font-size: 30px;
    }
    .form-newsletter form input:first-child {
        max-width: 500px;  
    }
    .form-newsletter form input[type=submit]{
        font-size: 18px;
    }
    }

footer{
    width: 100%;
    padding: 40px 0px;
    padding-top:10px;
    background-position: center center;
    background-color:#370000;
    background-size: cover;
    scroll-margin: 60ex;

}

#container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding-top: 80px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.box__footer .logo img{
    width: 150px;
    padding-left: auto;
    margin-bottom: -1rem;
}

.tex-logo{
    font-size: 0.90rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 200;
    color: #fffefe;
    font-size: 0.90rem;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 500;
}

.box__footer a{
    margin-top: 10px;
    color:#ECEDCF;
    font-weight: 500;
    text-decoration: none;
}
.box__footer {
    margin-top: 10px;
    color:#ECEDCF;
    text-decoration: none;
    list-style: none;
}

.box__footer a:hover{
    opacity: 0.8;
    text-decoration: none;
    color:#f2f3eb;
}

.box__footer a .fab{
    font-size: 18px;
    text-decoration: none;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color:#ECEDCF;
    font-size: 15px;
}
@media screen and (max-width: 600px){
    
    .box__footer .logo img{
        width: 70px;
    }
    #container__footer{
        margin: auto;
        padding-top: 0.5rem;
    }
    footer{
        width: 100%;
    }
    }


/* BARRA DE COTIZACIÓN */
.barraDeCotizacion{
    width: 100%;
    margin: auto;
    padding-left: 5px;
    padding-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color:#370000;
    color: #e8f1ff;
    
}

@media screen and (max-width: 600px) {
    .barraDeCotizacion{
        max-width: 100%;
        padding-top: 0.80rem;
        flex-direction: column;
    }
    .barraDeCotizacion h6{
        font-size:smaller;
    }
}

  

  
  